<div class="sticky-header">
    <div style="padding: 5px;">
        <button class="button-icon"
                mat-icon-button
                color="basic"
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button routerLink="/pals"
                    mat-menu-item>
                <mat-icon>mail</mat-icon>
                <span>Pals</span>
            </button>
            <button routerLink="/collector"
                    mat-menu-item>
                <mat-icon>local_shipping</mat-icon>
                <span>Collector</span>
            </button>
            <button routerLink="/history"
                    mat-menu-item>
                <mat-icon>history</mat-icon>
                <span>History</span>
            </button>
        </mat-menu>
        <button routerLink="/profile"
                class="button-icon right-corner-button"
                style="margin-left: 70%;"
                color="primary"
                mat-mini-fab>
            <mat-icon>person</mat-icon>
        </button>
    </div>
</div>