<mat-toolbar>
  <span>Package Pals</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    routerLink="/pals"
    class="example-icon"
    aria-label="button with pals icon"
  >
    <mat-icon color="primary">mail</mat-icon>
  </button>
  <button
    mat-icon-button
    routerLink="/collector"
    class="example-icon"
    aria-label="button with collector icon"
  >
    <mat-icon color="primary">local_shipping</mat-icon>
  </button>
  <button
    mat-icon-button
    routerLink="/history"
    class="example-icon"
    aria-label="button with history icon"
  >
    <mat-icon>history</mat-icon>
  </button>
  <button
    mat-icon-button
    routerLink="/profile"
    class="example-icon"
    aria-label="button with profile icon"
  >
    <mat-icon color="accent">person</mat-icon>
  </button>
</mat-toolbar>
