<div class="pals-container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Hello, Wei Shern!</mat-card-title>
      <mat-card-subtitle>Continue to save emissions.</mat-card-subtitle>
      <span class="example-spacer"></span>
    </mat-card-header>
    <mat-card-content>
      <h3>
        <mat-icon> local_gas_station</mat-icon> <strong>26304</strong> Co2 (g)
        reduced
      </h3>
      <h3>
        <mat-icon>highlight</mat-icon><strong>5891</strong> Light bulb hours
      </h3>
      <h3><mat-icon>nature</mat-icon> <strong>1,2</strong> Tree capture</h3>
      <h3>
        <mat-icon>smartphone</mat-icon><strong>3014</strong> Phone charging
        times
      </h3>

      <mat-card-actions align="end" class="card-actions">
        <button routerLink="/register-parcel" color="accent" mat-raised-button>
          Return
        </button>
        <button color="primary" mat-raised-button>Receive</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
