
mat-divider {
    margin: 32px 0;
  }

.example-card {
    height: 600px;

  }
  
  .example-header-image {
    background-image: url("../../../../src/assets/profillepic2.jpeg");
    background-size: cover;
  }
  
  
  
  
  .mat-icon {
    margin: 8px  16px  8px  8px;
  }

.card-actions{
    margin: 128px 0 0 0;
}