.pals-container {
    display: flex;
    margin: auto;
    padding: 10px;
    justify-content: center;
    width: 80vw;
    height: 80vh;
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

mat-list, mat-list-item, button {
    width: 100%;
    margin: 16px 0px;
}

