br>
<div class="header">
          <h1 class="display-2 text-white">Hello Jesse</h1>
</div>
  <div class="container-fluid mt--7">
    <div class="row">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="image">
                  <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80" class="rounded-circle">
              </div>
              <div class="button-profile">
                <button mat-raised-button color="primary">Edit profile</button>
            </div>
            </div>
          </div>
            <div class="text-center">
              <h3>
                Jessica Jones<span class="font-weight-light">, 27</span>
              </h3>
            </div>
            <div class="grid-orders">
                <div class="order-item">
                    <button ><mat-icon>receipt</mat-icon><br>Past Collection</button>
                </div>
                <div class="order-item">
                    <button ><mat-icon>lightbulb</mat-icon><br>Insights</button>
                </div>
            </div>
            <div class="card-stats">
                <mat-card><mat-card-title>Distance saved: 285km</mat-card-title> </mat-card>
                <mat-card><mat-card-title>Hours saved: 7</mat-card-title> </mat-card>
                <mat-card><mat-card-title>CO2 reduced: 15 kg<button matTooltip="That's 2.5 trees">info</button></mat-card-title> </mat-card>
            </div>
            <div class="rect">
                <button class="rectangular-button">Switch Profile</button>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <button mat-fab extended>
                    <mat-icon>phone</mat-icon>
                  </button>
                </div>
                <div class="grid-item">
                    <button mat-fab extended>
                        <mat-icon>message</mat-icon>
                      </button>
                </div>
            </div>
        </div>
</div>