<mat-list *ngIf="activeJobs.length"
          role="list"
          class="centered-list">
    <div mat-subheader>Active jobs</div>
    <mat-card *ngFor="let job of activeJobs"
              class="card-active"
              style="width: 80%;">
        <mat-card-header>
            <mat-card-title>#{{job.id}} Job | {{job.time | date: 'h:mm'}} | {{job.payment}}€ |
                {{job.distance}}km</mat-card-title>
            <mat-card-subtitle>5 parcels (3x S, 2x M)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button (click)="displayMap()"
                    mat-raised-button>Open map</button>
        </mat-card-actions>
    </mat-card>
</mat-list>

<mat-list role="list"
          class="centered-list">
    <div mat-subheader>New jobs</div>
    <mat-card *ngFor="let job of newJobs"
              class="card"
              style="width: 80%;">
        <mat-card-header>
            <mat-card-title>#{{job.id}} Job | {{job.time | date: 'h:mm'}} | {{job.payment}}€ |
                {{job.distance}}km</mat-card-title>
            <mat-card-subtitle>5 parcels (3x S, 2x M)</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button [disabled]="activeJobs.length !== 0"
                    (click)="takeJob(job)"
                    mat-raised-button>Take it!</button>
        </mat-card-actions>
    </mat-card>
</mat-list>