<app-active-job
  *ngIf="activeJobs.length != 0"
  [activeJobs]="activeJobs"
></app-active-job>

<mat-list role="list" class="centered-list" *ngIf="activeJobs.length == 0">
  <div mat-subheader>Open jobs</div>
  <mat-card *ngFor="let job of newJobs" class="card" style="width: 80%">
    <mat-card-header>
      <mat-card-subtitle>#{{ job.id }} Job </mat-card-subtitle>
      <mat-card-title>
        {{ job.time | date : "h:mm" }} | {{ job.payment }}€ |
        {{ job.distance }}km
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>5 parcels (3x S, 2x M)</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="activeJobs.length !== 0"
        (click)="takeJob(job)"
        mat-raised-button
      >
        Take it!
      </button>
    </mat-card-actions>
  </mat-card>
</mat-list>
