<mat-list *ngIf="activeJobs.length" role="list" class="centered-list">
  <div mat-subheader>Active job</div>
  <mat-card
    *ngFor="let job of activeJobs"
    class="card-active"
    style="width: 80%"
  >
    <mat-card-header>
      <mat-card-subtitle>#{{ job.id }} Job </mat-card-subtitle>
      <mat-card-title>
        {{ job.time | date : "h:mm" }} | {{ job.payment }}€ |
        {{ job.distance }}km
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button color="accent" (click)="displayMap()" mat-raised-button>
        Open map
      </button>
    </mat-card-actions>
  </mat-card>
</mat-list>

<div class="collector-container">
  <mat-selection-list #selectedParcels>
    <mat-list-option (click)="enablePackage2()">
      <div matListItemTitle>#1 Package</div>
    </mat-list-option>
    <mat-list-option [disabled]="statuspackage2" (click)="enablePackage3()">
      <div matListItemTitle>#2 Package</div>
    </mat-list-option>
    <mat-list-option [disabled]="statuspackage3" (click)="enablePackage4()">
      <div matListItemTitle>#3 Package</div>
    </mat-list-option>
    <mat-list-option [disabled]="statuspackage4" (click)="enablePackage5()">
      <div matListItemTitle>#4 Package</div>
    </mat-list-option>
    <mat-list-option [disabled]="statuspackage5">
      <div matListItemTitle>#5 Package</div>
    </mat-list-option>
  </mat-selection-list>
</div>
